.active_nav {
  color: black;
  border-bottom: 3px solid rgb(24, 137, 230);
}
.btns-card {
  min-width: 0 !important;
  padding: 7px !important;
}
.btns-card i {
  font-size: 17px;
}

@media screen and (max-width: 786px) {
  .logout-section {
    flex-direction: column !important;
  }
}
